.manuPrinc{
    width: 100%;
    position: fixed;
    top: 0;
    transition: .4s;
}
header section{
    max-width: 1300px;
    width: 100%;
    display: flex;
    padding: 20px;
    justify-content: space-around;
    align-items: center;
    margin: auto;
}
.menusecud{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.815);
}
span.icone{
    position: relative; 
}
input + span.icone::before{
    content: url(../imgs/lupa\ 1.png);
    background-size: contain;
}
input + span.icone::before{
    position: absolute;
    right: 20px;
    margin-top: 7px;
}
input{
    height: 70px;
    padding: 20px;
    opacity: 50%;
    border-radius: 10px;
    font-size: 22px;
}
div.home{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
div.home ul{
    justify-content: space-between;
    display: flex;
    font-size: 24px;
    list-style: none;
    color: white;
    width: 500px;
}
div.home ul li{
    transition: .5s;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 5px;
}
div.home ul a{
    text-decoration: none;
    color: white;
    transition: .5s;
}
div.home ul a:hover{
    color: black;
}
div.home ul li:hover{
    background-color: violet;
    color: black;
}

